body {	
    background:#dedede;
}
*{
	margin:0;
	padding:0;
	outline:0;
}
.navv{
	padding:50px 50px 50px 50px;
}
.footer{
	height:40px;
	background:#444444;
}
.container2{
	font-size: 18px;
	padding-left:590px;
	padding-top:9px;
	color:white;
}
.header{
	display:inline-block;
	color:green;
	height:40px;
	background:#444444;
	width:1347px;
}
.akun{
	display:inline-block;
	float:right;
	padding-right:10px;
	
}
.akun a{
	padding-left:30px;
}
.menu ul li{
	float:left;
	padding-left:30px;
}
.menu ul li:hover{
	background-color:white;
	cursor:pointer;
}